*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#sidebar{
    width: 320px;
    background-color: black;
    color: #aaa;
    position: fixed;
    height: 100%;
    display: flex;
    transition: transform 0.5s;
}

#sidebar i{
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 30px;
    cursor: pointer;
    transition: color 0.5s;

}

#sidebar i:hover{
    color: white;
}

#sidebar a:hover{
    color: white;
}

#sidebar ul{
    padding: 80px;
}

#sidebar ul li{
    font-size: 30px;
    padding: 15px;
    list-style: none;
}

#sidebar ul li a{
    text-decoration: none;
    color: #aaa;
    transition: color 0.5s;
}

.close{
    transform: translate(-320px,0);
}

#open{
    background-color: aqua;
    color: black;
    border: 1px solid aqua;
    border-radius: 3px;
    width: 65px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}